.tile, .dice {
  display: inline-block;
  border: 1px solid black;
  padding: 25px;
  text-align: center;
  margin: 20px;
}

.chosen {
  background-color: #CCC;
}


.tile-list, .dice-list {
  padding-left: 0;
}

button {
  display: block;
  margin-left: 20px;
}

.dice.disabled, .tile.disabled {
  background-color: #000;
}
